/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/*.js
/public/mix-manifest.json
/storage/*.key
/storage/debugbar
/vendor
.idea/
.env
.env.backup
.phpunit.result.cache
*.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/usage_results
/public/pdfs
/public/import

deprecated/

update_name
update_server
view_create

# redis使用
dump.rdb

.env.prod

traefik/acme.json