@import "select";

.round-form {
    .input {
        color: black;
        border-color: transparent;
        border-radius: 2rem;

        ul {
            border-radius: 2rem;
        }

        &.is-large {
            height: 3.75rem;
            padding: 0 2rem;
            font-size: 1rem;
        }
    }
}

.form {
    label {
        font-weight: normal;
        &.is-marked {
            &::before {
                content: '*';
                color: $danger;
            }
        }
    }

    .column {
        padding: 0.75rem 1.5rem;
    }

    .form-header {
        height: 2.5rem;
    }

    .form-body {
        height: calc(100vh - #{$navbar-height} - #{$breadcrumb-height} - 4rem);
        overflow-y: auto;
        overflow-x: hidden;

        &.box {
            padding: 1rem 2.5rem;
        }
    }

    .form-footer {

    }
}

.close-button {
    width: 1.8rem;
    height: 1.8rem;
    opacity: 0.3;
    z-index: 100;
    display: inline-block;

    &:hover {
        opacity: 1;
    }

    &:before, &:after {
        position: absolute;
        left: 1rem;
        content: ' ';
        height: 1.5rem;
        width: 3px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.g-button {
    cursor: pointer;
    line-height: 1.4rem;
    width: 1.5rem;
    height: 1.8rem;
    font-size: 1.5rem;
    opacity: 0.3;
    z-index: 100;
    color: #333;
    margin-right: 3px;
    text-align: center;

    &:hover {
        opacity: 1;
    }
}

.upload {
    cursor: pointer;
    &.control {
        width: 100%;
        .uploader {
            width: 100%;
            text-align: center;
            border: 1px dashed #dbdbdb;
            p {
                line-height: 2.5rem;
            }
        }
    }
}

