.Vue-Toastification__toast.Vue-Toastification__toast--default {
    min-width: auto;
    min-height: auto;
    background: transparent;
    padding: 0;
    margin-bottom: .5rem;
    @apply rounded-md ;
}