@import 'variables';
@import '~bulma';
@import "~buefy/src/scss/buefy";
@import 'form';
@import 'layer';
@import 'table';
@import 'tooltip';
@import 'draggable';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;

    body {
        height: 100%;
    }

    @media (min-width: $widescreen) {
        font-size: 16px;
    }

    @media (max-width: $tablet) {
        font-size: 13px;
    }

    @media (max-width: 374px) {
        font-size: 12px;
    }

    * {
        font-family: 'Noto Sans TC', sans-serif;
        position: relative;
        line-height: 1.7;
    }

    overflow-y: auto;

    #app {
        &.is-grey {
            background-color: $light-grey;
        }

        z-index: 1;
        height: 100%;
    }

    .container {
        max-width: 85%;

        &.is-wide {
            max-width: 95%;
        }
    }

    .my-link {
        color: $black;
        &:hover {
            text-decoration: underline;
            &::after {
                font-family: "Font Awesome 5 Free";
                content: "  ";
                font-weight: 900;
            }
        }
    }
}

.page-container {
    width: 100%;
    height: calc(100vh - #{$navbar-height});
    margin-top: $navbar-height;
}

.no-wrap {
    white-space: nowrap;
}

.search-options {
    .checkbox {
        margin-left: .5rem;
    }

    .clear {
        display: inline-block;
        text-decoration: underline;
        top: -.2rem;
        left: .8rem;
    }
}

.b-tooltip .tooltip-content {
    z-index: 1200;
}

.box {
    border-radius: 0;
}

.has-text-orange {
    color: $orange;
}

.taxon-name {
    color: $orange;
    font-style: italic;
}

.is-orange {
    color: $orange;
}

.notices {
    z-index: 100;
}

thead {
    z-index: 80;
}


.table {
    &.in-tab-content {
        th {
            position: sticky;
            background-color: white;
            z-index: 60;
            top: 0;
        }

        th, td {
            line-height: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}
